**/.env
**/.env.example

.git
**/terraform
terraform

**/.venv
**/.ruff_cache
**/.mypy_cache
**/docker-compose.yml
**/Dockerfile
**/Makefile
**/.dockerignore
**/.gitignore
**/.gitattributes
**/.pytest_cache
**/.vscode
**/docs
**/env
**/tests
**/.web