data/*.cypherl filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
data/cache/*.db filter=lfs diff=lfs merge=lfs -text
assets/*.cypherl filter=lfs diff=lfs merge=lfs -text
assets/*.csv filter=lfs diff=lfs merge=lfs -text