# Grist
GRIST_SERVER_URL="https://vedana-test.getgrist.com"
GRIST_API_KEY=""
GRIST_DATA_MODEL_DOC_ID="krvDzKM6mbFRokq3m8NFq9"
GRIST_DATA_DOC_ID="u2hBF97eDygXmM1sXK9rA4"

# Memgraph (локальный деплоймент)
MEMGRAPH_URI="bolt://memgraph:7687"
MEMGRAPH_USER="neo4j"
MEMGRAPH_PWD="modular-current-bonjour-senior-neptune-8618"

OPENAI_API_KEY=""
DB_CONN_URI="postgresql://user:password@localhost:5432"
MODEL="gpt-5-mini"

# Embeddings
EMBEDDINGS_MODEL="text-embedding-3-large"
EMBEDDINGS_DIM=1024
